{% load less %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{{ site_name }}{% endblock %}</title>
<meta charset="utf-8">
<meta name="description" content="{% trans 'Listen to learn a language, dialect or accent. Record yourself to help others.' %}">
<meta name="author" content="{{ site_name }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}{% if debug %}{% less "less/base.less" %}{% else %}css/base.css{% endif %}" />
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "css/rtl.css" %}{% endblock %}" />{% endif %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-67802819-1', 'auto');
  ga('send', 'pageview');
</script>
<script>
window.__media_prefix__="{% filter escapejs %}{% static "" %}{% endfilter %}";
</script>
{% block extrahead %}{% endblock %}
{% block robots %}<meta name="robots" content="noindex,nofollow" />{% endblock %}
</head>
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
  {% block header %}
  <div class="container-header">
    {% if not is_popup %}
    <div id="flairbar"></div>
    {% endif %}    
    <div class="container-inner-header">
      <div id="header" class="header">
        <div class="header-item">
          <div class="brand-wrapper">
            <a href="{% url 'home' %}">{#<img src="{{ STATIC_URL }}img/text_logo.png" alt="{{ site_name }}" width="207" height="30"/>#}<h1>{{ site_name }}</h1></a>
          </div>
        </div>
        <div class="header-item">
          <div class="navlinks">
            {% if user.is_active %}
            {% if user_profile %}
            <div class="user-profile">
              <div class="user-profile-item">{{ user_profile.nickname|default:"Anonymous" }}</div>
              {% if user_profile.gender %}<div class="user-profile-item">{{ user_profile.gender }}</div>{% endif %}
              <div class="user-profile-item">{% trans 'around' %} {{ user_profile.age }}</div>
              <div class="user-profile-item">{{ user_profile.country_name }}</div>
            </div>
            {% endif %}
            <a id="signout_link" href="{% url 'logout' %}">{% trans 'sign out' %}</a>
            {% else %}
            <a id="signin_link"  href="{% url 'login' %}">{% trans 'sign in' %}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  {% if not is_popup %}<div class="container-body">{% endif %}
  {% block body %}{% endblock %}
  {% if not is_popup %}</div>{% endif %}
  {% block footer %}
  <div class="container-footer">
    <div class="container-inner-footer">
      <div id="footer" class="footer">
        <div class="credit">{% trans "Copyright" %} &copy; {% now "Y" %} {{ site_name }}. {% trans "All rights reserved." %}</div>
        <ul class="footer-link-list">
          <li><a href="{% url 'terms' %}">{% trans 'Terms of Service' %}</a></li>
          <li><a href="mailto:help@{{ mail_domain }}">{% trans 'Feedback' %}</a></li>
        </ul>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block extrabody %}
  <!-- Bootstrap core JavaScript
       ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
  <script type="text/javascript">
    var csrftoken = $.cookie('csrftoken'), authtoken = "{{ auth_token }}";
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);                
            }
            xhr.setRequestHeader("X-AuthToken", authtoken);
        }        
    });

    $(function() {
        var input = document.createElement("input");
        if (('placeholder' in input)==false) { 
            $('[placeholder]').focus(function() {
                var i = $(this);
                if(i.val() == i.attr('placeholder')) {
                    i.val('').removeClass('placeholder');
                    if(i.hasClass('password')) {
                        i.removeClass('password');
                        this.type='password';
                    }           
                }
            }).blur(function() {
                var i = $(this);    
                if(i.val() == '' || i.val() == i.attr('placeholder')) {
                    if(this.type=='password') {
                        i.addClass('password');
                        this.type='text';
                    }
                    i.addClass('placeholder').val(i.attr('placeholder'));
                }
            }).blur().parents('form').submit(function() {
                $(this).find('[placeholder]').each(function() {
                    var i = $(this);
                    if(i.val() == i.attr('placeholder'))
                        i.val('');
                })
            });
        }
    });
  </script>
  <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
  {% endblock %}
</body>
</html>

