{% extends "main_site/base.html" %}
{% load i18n %}{% load url from future %}

{% block body %}
<div class="x-container-narrow">
  <h2>{% trans "Goodbye, Chat-Operated!" %}</h2>
  <p>{% blocktrans %}The Chat-Operated site and all services have been suspended indefinitely. Spoken phrases are the future.{% endblocktrans %}</p>
</div>
{% endblock %}
