{% extends "main_site/base.html" %}
{% load url from future %}
{% load i18n %}
{% load css %}

{% block title %}{{ block.super }}: {% trans 'Phrases spoken by native speakers' %}{% endblock %}

{# {% block extrahead %}<meta name="google-site-verification" content="CgPUKT3YIBJtyMPHKbZgPUoEuoebwodFimYeBW9iBpU" /><meta name="msvalidate.01" content="BFB02D7F1B1D824A0F1C0F05CB271813" />{% endblock %} #}

{% block robots %}<meta name="robots" content="noarchive" />{% endblock %}

{% block header %}{% endblock %}

{% block body %}
<div class="container-home">
  <div class="container-signup">
    <div class="promo">
      <h1>{{ site_name }}</h1>
      <h2>{% trans 'Phrases spoken by native speakers' %}</h2>
      <p>{% trans 'Listen to learn a language, dialect or accent.' %}<br/>{% trans 'Record yourself to help others.' %}</p>
      <div class="signin-link"><a href="{% url 'login' %}">{% trans 'sign in' %}</a></div>
    </div>
    <div class="signup-box">
      <form id="signup-form" class="form-signup form" method="POST" action="{% url 'user' %}">
        {% csrf_token %}
        <h3>Join the community!</h3>                    
        <fieldset>
          {{ signup_form.username|wrap:"class=field" }}
          {{ signup_form.password|wrap:"class=field" }}
          <label for="id_language">
            {% trans 'My native language is' %}
            {{ signup_form.language|wrap:"class=field" }}
          </label>         
          <label for="id_interest_language">
            {% trans 'I am learning' %}
            {{ signup_form.interest_language|wrap:"class=field" }}
          </label>
          <button type="submit" id="signup-submit" class="submit">{% trans 'Sign up for ' %}{{ site_name }}</button>        
        </fieldset>
      </form>
    </div>
  </div>  
</div>
{% endblock %}

{% block extrabody %}{{ block.super }}
<script type="text/javascript">
    var frm = $('#signup-form');
    $('.field, .form').focusin(function() {
        $(this).removeClass('show-form-error');
    });
    var hideFormErrors = function(frm) {
        $('.show-form-error', (frm||this).parent).removeClass('show-form-error');
    };
    frm.submit(function() {
        var setErrorTimeout = function(t) {
            if (this.errorTimeout) {
                clearTimeout(this.errorTimeout);
            }
            this.errorTimeout = t;
        }.bind(this);
        
        $.ajax({
            type: frm.attr('method'),
            url:  frm.attr('action'),
            data: frm.serialize(),
            success: function (resp) {
                window.location.href = "{% url 'signup-confirm' %}";
            }.bind(this),
            error: function(resp) {                
                if (resp.status == 400) {
                    var errors = $.parseJSON(resp.responseText);
                    $('.field', this).each(function(e) {
                        var text = errors[$(this).children()[0].name];
                        if (text !== undefined) {
                            $(this).addClass('show-form-error').attr('data-text', text);
                        }
                    });
                } else {
                    $(this).addClass('show-form-error').attr('data-text', "{% trans 'Due to technical difficulties, we were unable to send your invitation. Please try again later.' %}");
                }
                setErrorTimeout(setTimeout(hideFormErrors.bind(this), 5000));
            }.bind(this)
        });
        return false;
    });
</script>
{% endblock %}
