{% extends "main_site/base.html" %}
{% load i18n %}{% load url from future %}
{% load compressed %}
{% load css %}

{% block body %}
<div class="container-signin">
  <div class="signin-box">
    <h2>{% trans "Sign in" %}</h2>
    <form id="signin-form" class="form-signin form" method="post" action="{% url 'parrot.django_apps.main_site.views.login' %}">
      {% csrf_token %}
      <fieldset>{% for f in form %}{{ f|wrap:"class=field" }}{% endfor %}</fieldset>
      <div class="container-msg">
      {% if form.errors %}
      <!--<p class="msg msg-error">{% trans "Your username and password didn't match. Please try again." %}</p>-->
      {% endif %}
      </div>
      <button type="submit" value="login">{% trans "Sign in" %}</button>
      <a id="forgot-password" href="{% url 'django.contrib.auth.views.password_reset' %}">{% trans "Forgot your password?" %}</a>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
</div>
{% endblock %}

{% block extrabody %}{{ block.super }}
{% compressed_js 'home' %}    
<script type="text/javascript">
  var util = Util();
  util.addFormErrors(util.initializeForm($('#signin-form')),
  { {% for f, e in form.errors.items %}{{ f }}: "{{ e.0 }}", {% endfor %} });
</script>
{% endblock %}
