{% extends "main_site/base.html" %}
{% load i18n %}{% load url from future %}
{% load compressed %}

{% block extrastyle %}
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block body %}
<ul class="notification-bar-list">
  <li>{% trans 'Thanks for your patience as we grow the community and our collection of spoken phrases! Please check back often.' %}</li>
  {% for site_message in site_messages %}
  <li>{{ site_message }}</li>
  {% endfor %}
</ul>
<div class="container-member-home">
  <div id="container-notification-list" style="display:none;"></div>
  <div id="container-phrase-exchange">
    <div id="col-phrase-find">
      <h3>{% trans '<b>listen</b><br/>to learn' %} {{ user_profile.interest_language }}</h3>
      <!-- <div id="list-hear-language" class="list-language"> -->
      <!--   <select id="select-language-hear" class="select-language"> -->
      <!--     {% for v, l in language_choices %}<option value="{{ v }}"{% if v == user_profile.interest_language_code %} selected="selected"{% endif %}>{{ l }}</option>{% endfor %} -->
      <!--   </select>         -->
      <!-- </div> -->
      <div id="list-hear"></div>
    </div>
    <div id="col-phrase-give">
    <h3>{% trans '<b>speak</b><br/>to help others learn' %} {{ user_profile.language }}</h3>
      <!-- <div id="list-say-language" class="list-language"> -->
      <!--   <select id="select-language-say" class="select-language"> -->
      <!--     {% for v, l in language_choices %}<option value="{{ v }}"{% if v == user_profile.language %} selected="selected"{% endif %}>{{ l }}</option>{% endfor %} -->
      <!--   </select>         -->
      <!-- </div> -->
      <div id="list-say"></div>
    </div>    
    </div>
    <div id="wami" class="wami"></div>    
</div>
<noscript>{% trans 'Javascript is required for this site to work.' %}</noscript>
<!-- -->
<!-- templates follow -->
<!-- -->
<script type="text/template" id="phrase-request-list-template" class="template">
  <% if (searchable) { %><div class="search-box">
    <select id="select-source" class="select-source"><option value=""<% if (!fetchParams.source) { %>selected="selected"<% } %>>All</option><option value="my-requests"<% if (fetchParams.source == 'my-requests') { %>selected="selected"<% } %>>My requests</option><option value="favorites"<% if (fetchParams.source == 'favorites') { %>selected="selected"<% } %>>Favorites</option></select>
    <div class="search-bar">
      <input type="text" class="search-text" placeholder="{% trans 'ex. How are you?' %} #25 #male #unitedstates" maxlength="80"  value="<%= fetchParams.text %>" />
      <div class="btn-search"></div>
    </div>
    </div><% } %>
  <% if (empty) { %><div class="none-found">{% trans 'No matching requests found.' %}<% if (fetchParams.text) { %><div class="action-group"><div class="btn-request-add action"><span class="tooltip"><span>{% trans 'request new phrase' %}</span></span></div></div></div><% } %><% } else { %><% if (show_new_request) { %><div class="new-request">{% trans "Don't see the phrase you were looking for?" %}<div class="action-group"><div class="btn-request-add action"><span class="tooltip"><span>{% trans 'request new phrase' %}</span></span></div></div></div><% } %><ul class="phrase-request-list"></ul>
  <% if (more) { %><div class="more">&bull;&bull;&bull;</div><% } %>
  <% } %>
</script>
<script type="text/template" id="phrase-request-template" class="template">
  <% if (has_edit) { %>
  <ul class="edit-response-list"></ul>
  <% } else { %>
  <div class="phrase-request">
    <div class="col"><div class="btn-menu action"></div><ul class="action-menu modal hidden"><li class="item-cancel">{% trans 'Cancel' %}</li><li class="item-flag">{% trans 'Flag offensive content' %}</li></ul></div>
    <!-- <% if (is_mine) { %><div class="btn-delete action"><span class="tooltip"><span>{% trans 'delete' %}</span></span></div><% } else { %><div class="btn-flag action"><span class="tooltip"><span>{% trans 'flag offensive content' %}</span></span></div><% } %> -->    
    <div class="col"><div class="text"><%= text %></div></div>
    {# <% if (has_responder_qualifications) { %><div class="bottom"><div class="qualification-list"><% if (note) { %><span class="qualification"><%= note %></span><% } %><% if (responder_gender) { %><span class="qualification"><% if (responder_gender == 'm') { %>{% trans 'Male' %}<% } else if (responder_gender == 'f') { %>{% trans 'Female' %}<% } %></span><% } %><% if (responder_age_min||responder_age_max) { %><span class="qualification"><%= responder_age_min||0 %>&mdash;<%= responder_age_max||100 %></span><% } %><% if (responder_country) { %><span class="qualification"><%= responder_country %></span><% } %></div></div><% } %> #}
    <div class="col"><div class="action-group"><% if (!is_native_language) { %><% if (response_count) { %><div class="btn-play-newest action"><span class="label-count"><%= response_count %></span><span class="tooltip"><span>{% trans 'play first response' %}</span></span></div><% } else { %><div class="btn-play-none action disabled"><span class="tooltip"><span>{% trans 'no responses to play' %}</span></span></div><% } %><% } else { %><div class="btn-respond action"><span class="tooltip"><span>{% trans 'respond' %}</span></span></div><% } %></div></div>
  </div>
  <ul class="phrase-response-list"></ul>
  <% } %>
</script>
<script type="text/template" id="phrase-response-template" class="template">
<!-- <% if (is_mine) { %><div class="btn-delete action"><span class="tooltip"><span>{% trans 'delete' %}</span></span></div><% } else { %><div class="btn-save action"><span class="tooltip"><span>{% trans 'save as favorite' %}</span></span></div><div class="btn-flag action"><span class="tooltip"><span>{% trans 'flag offensive content' %}</span></span></div></div><% } %>   -->
<div class="phrase-response">
  <div class="col"><div class="btn-menu action"></div><ul class="action-menu modal hidden"><li class="item-cancel">{% trans 'Cancel' %}</li><% if (favorited) { %><li class="item-favorite active">{% trans 'Remove favorite' %}</li><% } else { %><li class="item-favorite">{% trans 'Add favorite' %}</li><% } %><li class="item-flag">{% trans 'Flag offensive content' %}</li></ul></div>
  <div class="col"><div class="text"></div><%= user_signature %></div><div class="col"><div class="action-group"><% if (is_mine) { %><div class="btn-play action"><span class="tooltip"><span>{% trans 'play' %}</span></span></div><% } else { %><div class="btn-play action"><span class="tooltip"><span>{% trans 'play' %}</span></span></div><% } %></div></div>
</div>  
</script>
<script type="text/template" id="phrase-response-edit-template" class="template">
  <form class="edit-response-form">
    <div class="col"><div class="btn-delete action"></div></div>    
    <div class="col"><input type="text" class="text" placeholder="<%= default_text %>" maxlength="80" value="<%= text %>" /></div>
    <div class="col"><div class="action-group"><div class="btn-play action"></div><div class="btn-record action"></div></div></div>    
  </form>          
</script>
<script type="text/template" id="user-ranking-panel-template" class="template">
    {#<h2>{% trans 'Ranking' %}</h2>#}
    <% if (ranking) { %>
    <% if (ranking > 100) { %><div class="ranking">
    <% } else { %><div class="top-100-ranking"><% } %>
      <span class="numerator"><%= ranking %></span>
      {#<span class="denom">/<%= ranking_total %></span>#}
    </div>
    <% if (rating !== null) { %><div class="star-rating"><%= rating %></div><% } %>
    <div class="stat"><div class="stat-value"><%= total_chats_given %></div><div class="stat-label">{% trans 'given' %}</div></div>
    <div class="stat"><div class="stat-value"><%= total_chats_received %></div><div class="stat-label">{% trans 'received' %}</div></div>
    <% if ("{{ user_profile.is_admin }}" != "" && total_audits !== null) { %><div class="stat"><div class="stat-value"><%= total_audits %></div><div class="stat-label">{% trans 'audited' %}</div></div><% } %>
    <% } %>
</script>
{% endblock %}

{% block extrabody %}{{ block.super }}
<script src="{{ STATIC_URL }}js/underscore-min.js"></script>
<script src="{{ STATIC_URL }}js/backbone-min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script src="{{ STATIC_URL }}js/Recorderjs/recorder.js"></script>
{% compressed_js 'member_home' %}    
{% if user_notifications %}    
<script src="{{ STATIC_URL }}js/notification.js"></script>
{% endif %}

<script type="text/javascript">
(function(window) {
    var audioApi  = createAudioApi(window, navigator, "{{ auth_token }}");
    var phraseApi = new PhraseApi('/api/v1', audioApi);
    var phraseSayListView  = new phraseApi.PhraseSayListView({
        fetchParams: {language_code: '{{ user_profile.language_code }}'}});
    var phraseHearListView = new phraseApi.PhraseHearListView({
        fetchParams: {
            language_code: '{{ user_profile.interest_language_code }}'
        }
    });
    
    phraseSayListView .fetchOlder();
    phraseHearListView.fetchOlder();

    $('#select-language-say').change(function() {
        var languageCode = $(this).val();        
        $.ajax({
            type: 'PUT',
            url : "{% url 'user' %}",
            data: {language: languageCode}
        });    
        phraseSayListView.setLanguage(languageCode);
    });
    
    $('#select-language-hear').change(function() {
        var languageCode = $(this).val();
        $.ajax({
            type: 'PUT',
            url : "{% url 'user' %}",
            data: {interest_language: languageCode}
        });
        phraseHearListView.setLanguage(languageCode);        
    });
    
    {% if user_notifications %}
    Notification.urlRoot = "{% url 'user-notification' %}";
    var notificationListView = new NotificationListView();
    notificationListView.notificationList.bind('remove', function(models, options) {
        if (this.isEmpty()) {
            $('#container-notification-list').hide();
        }
    });
    {% for user_notification in user_notifications %}
    notificationListView.addNotification({{ user_notification }});
    {% endfor %}
    $('#container-notification-list').html(notificationListView.render().el).show();
    $('#container-notification-list').click(function() {
        $(this).hide();  // do nothing with notifications except hide them
    });    
    {% endif %}

    /* Agree to updated terms message */
    $('a#agree-to-terms').click(function() {
        var el = this;
        $.ajax({
            type: 'PUT',
            url : "{% url 'user' %}",
            data: {terms_accepted: true},
            success: function () {
                $(el).parent().remove();
            },
            error: function(xhr, textStatus, thrownError) {
            }
        });                       
    });    

})(window);
</script>
{% endblock %}
