{% extends "main_site/base.html" %}
{% load i18n %}{% load url from future %}

{% block body %}
<div class="container-password-reset">
  <div class="password-reset-box">
    {% if validlink %}
    <h2>{% trans "Set your password" %}</h2>
    <form id="password-set-form" class="form-signin form" method="post" action=".">
      {% csrf_token %}
      <fieldset>
        {% for f in form %}<div class="field"><input id="id_{{ f.name }}" type="password" placeholder="{{ f.label }}" name="{{ f.name }}" maxlength="30">{% endfor %}</div>
      </fieldset>
      {% if form.errors %}
      <div class="form-error">{% trans "Your passwords were too short or did not match." %}</div>
      {% endif %}
      <button type="submit" value="setpassword">{% trans "Set password" %}</button>
    </form>
    {% else %}
    <h2>{% trans "Uh-oh!" %}</h2>
    <p>{% blocktrans %}This password reset link has expired.{% endblocktrans %} <a href="{% url 'passwordreset' %}">{% trans "Please request a new password reset email." %}</a>
    {% endif %}
  </div>
</div>
{% endblock %}
