{% extends "main_site/base.html" %}
{% load i18n %}{% load url from future %}

{% block body %}
<div class="container-password-reset">
  <h2>{% trans "Check your inbox!" %}</h2>
  <p>{% blocktrans %}We've sent you an email with a link to reset your password.{% endblocktrans %}</p><p>{% blocktrans %}If you do not receive the email within an hour, please add {{ no_reply_address }} to your contact list and try again.{% endblocktrans %}</p>
</div>
{% endblock %}
