{% extends "main_site/base.html" %}
{% load i18n %}{% load url from future %}

{% block body %}
<div class="container-password-reset">
  <div class="password-reset-box">
    <h2>{% trans "Forgot your password?" %}</h2>
<p>{% blocktrans %}We'll send you an email with a link to reset your password.{% endblocktrans %}</p>
    <form id="password-reset-form" class="form-signin form" method="post" action=".">
      {% csrf_token %}
      <fieldset>
        <div class="field">
          <input id="id_{{ form.email.name }}" type="text" placeholder="{{ form.email.label }}" name="{{ form.email.name }}" maxlength="30">
        </div>
      </fieldset>
      {% if form.errors %}
      <div class="form-error">{% trans "There was an error requesting the password reset. Are you sure this is the email address associated with your account?" %}</div>
      {% endif %}
      <button type="submit" value="resetpassword">{% trans "Send reset email" %}</button>
    </form>
  </div>
</div>
{% endblock %}
