{% extends "main_site/base.html" %}
{% load i18n %}{% load url from future %}
{% load compressed %}
{% load css %}

{% block title %}{{ block.super }}{% endblock %}

{% block body %}
<div class="container-complete-signup">
  <div class="complete-signup-box">
    <h2>{% trans "You've almost finished signing up!" %}</h2>
    <form id="complete-signup-form" class="form-complete-signup form" method="PUT" action="{% url 'user' %}">
      {% csrf_token %}
      <fieldset>
        <div class="field optional-field">            
          <label for="id_nickname">
            {{ signup_form.nickname.label }}
          </label>
          {{ signup_form.nickname }}          
        </div>
        <div class="field">                    
          <label for="id_age">
            {{ signup_form.age.label }}
          </label>
          {{ signup_form.age }}          
        </div>
        <div class="field">                            
          <label for="id_gender">
            {{ signup_form.gender.label }}
          </label>
          {{ signup_form.gender }}          
        </div>
        <div class="field">
          <label for="id_country">
            {% trans 'Hometown' %}
          </label>
          {{ signup_form.country }}{{ signup_form.state }}{{ signup_form.city }}
        </div>
        <div class="field">
          <label>
            {{ signup_form.terms_accepted.label }}
          </label>
          {{ signup_form.terms_accepted }}                    
        </div>
      </fieldset>
      <button type="submit" class="submit">{% trans "Sign up" %}</button>
    </form>
  </div>
</div>
{% endblock %}

{% block extrabody %}{{ block.super }}
{% compressed_js 'home' %}    
<script type="text/javascript">
    {
        var util = Util();
        var frm  = util.initializeAjaxForm(
            $('#complete-signup-form'),
            {success: function() {
                window.location.href = "{% url 'member-home' %}"; }
            }, 
            "{% blocktrans %}Due to technical difficulties, we're unable to update your profile. Please try again later.{% endblocktrans %}");
    }
</script>
{% endblock %}
