{% extends "main_site/base.html" %}
{% load i18n %}{% load url from future %}

{% block body %}
<div class="container-password-reset">
  <h2>{% trans "Check your inbox!" %}</h2>
  <p>{% blocktrans %}We've sent you an email with a link that must be used to sign in for the first time.{% endblocktrans %}</p><p>{% blocktrans %}If you do not receive the email within an hour, please add {{ no_reply_address }} to your contact list and try{% endblocktrans %} <a href="{% url 'login' %}">{% trans 'signing in' %}</a>.</p>
</div>
{% endblock %}
