{% extends "main_site/base.html" %}
{% load i18n %}{% load url from future %}

{% block body %}
<div class="container-terms">
  <h2>{% trans 'Terms of Service' %}</h2>
  <h3 class="terms-date">{% trans 'Effective as of' %} {{ effective_date }}</h3>
  <div class="terms">{{ terms }}</div>
  {% if user %}  
  {% endif %}
</div>
{% endblock %}
