{% extends "main_site/base.html" %}
{% load i18n %}{% load url from future %}
{% load compressed %}

{% block extrastyle %}
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block body %}{{ block.super }}
<div class="container-test">
  <h1>Test</h1>
  <div id="test-chat-view"></div>
</div>
<script type="text/template" id="test-chat-template" class="template"><%= statusText %></script>
{% endblock %}

{% block extrabody %}{{ block.super }}
<script src="{{ STATIC_URL }}perfect-scrollbar/perfect-scrollbar.with-mousewheel.min.js"></script>
<script src="{{ STATIC_URL }}js/underscore.js"></script>
<script src="{{ STATIC_URL }}js/backbone.js"></script>
<script src="{{ STATIC_URL }}js/socket.io.js"></script>
<script>WEB_SOCKET_SWF_LOCATION="{{ STATIC_URL }}flashsocket/WebSocketMain.swf";</script>
{% compressed_js 'chat' %}
<script>
    function assert(condition, message) {
        if (!condition) {
            throw message || "Assertion failed";
        }
    }
var TestChatView = Backbone.View.extend({
    el: $('#test-chat-view'),
    template: _.template($('#test-chat-template').html()),
    events: {
    },
    
    testMessages: [{"message": null, "type": 1, "sent": "2015-03-21 22:26:58", "subscriber_id": 1}, {"message": null, "type": 1, "sent": "2015-03-21 22:27:00", "subscriber_id": 2}, {"message": "hello curt", "type": 0, "sent": "2015-03-21 22:27:05", "subscriber_id": 2}, {"message": "hi ryu", "type": 0, "sent": "2015-03-21 22:27:09", "subscriber_id": 1}, {"message": "how are you?", "type": 0, "sent": "2015-03-21 22:27:13", "subscriber_id": 1}, {"message": "fine thanks", "type": 0, "sent": "2015-03-21 22:27:15", "subscriber_id": 2}, {"message": "and you?", "type": 0, "sent": "2015-03-21 22:27:18", "subscriber_id": 1}, {"message": "swell", "type": 0, "sent": "2015-03-21 22:27:21", "subscriber_id": 2}, {"message": "\u65e5\u672c\u8a9e", "type": 0, "sent": "2015-03-21 22:27:36", "subscriber_id": 2}, {"message": null, "type": 2, "sent": "2015-03-21 22:28:08", "subscriber_id": 2}, {"message": null, "type": 1, "sent": "2015-03-21 22:28:10", "subscriber_id": 2}, {"message": null, "type": 2, "sent": "2015-03-21 22:29:00", "subscriber_id": 1}, {"message": null, "type": 1, "sent": "2015-03-21 22:29:05", "subscriber_id": 1}],
    
    initialize: function() {
        _.bindAll(this, 'render', 'runTest', 'setStatus');
        this.statusText = "Test in progress...";
    },

    render: function() {      
        this.$el.html(this.template({statusText: this.statusText})); 
    },

    setStatus: function(text) {
        this.statusText = text;
        this.render();
    },

    assert: function(x) {
        assert(x, "assertion error");
    },
    
    runTest: function() {
        var view    = this;
        var now     = new Date();
        var host    = 'localhost:8080';
        var url     = 'http://' + host + '/message';
        var sockets = {};
        var timeout = 30; // seconds
        var channel = 123;

        var processMessage = function(m) {
            if (m.type == 0) {
                sockets[m.subscriber_id].emit('echo', channel, m.message);
            } else if (m.type == 1 && !sockets[m.subscriber_id]) {
                //'forceNew'
                var socket = io.connect(
                    url,
                    {reconnect: false,
                     'force new connection': true,
                    });

                socket.subscriberID = m.subscriber_id;

                socket.on('connect', function() {
                    var socket = this;
                    if (socket.hasConnected === undefined) {
                        socket.hasConnected = true;
                        (function() {
                            var r = $.Deferred();
                            $.get("{% url 'test-chat-token' %}",
                                  {host: host,
                                   channel: channel,
                                   subscriber_id: socket.subscriberID,
                                   timeout: timeout,
                                   live_at: now.toISOString()})
                                .done(function(data) {
                                    r.resolve(data);
                                })
                                .fail(function() {
                                    r.fail();
                                });
                            return r;
                        })().done(function(data) {
                            socket.emit('subscribe', 
                                        channel, 
                                        socket.subscriberID, 
                                        timeout, 
                                        data.token);
                        });
                    }                    
                });

                socket.on('error', function(e) {
                    view.setStatus('error:'+e);
                });

                socket.on('reconnect_error', function(e) {
                    view.setStatus('reconnect_error:'+e);
                });

                socket.on('reconnect_failed', function(e) {
                    view.setStatus('reconnect_failed:'+e);
                });

                socket.on('connect_failed', function(e) {
                    view.setStatus('connect_failed:'+e);
                });

                socket.on('subscribed', function(subscriberID, sent) {
                    console.log('subscribed:'+subscriberID);                            
                    //if (subscriberID != this.subscriberID) {
                    //    view.assert(m.type != 1 && m.subscriber_id == subscriberID);
                    //}
                });

                socket.on('unsubscribed', function(subscriberID, sent) {
                    //if (subscriberID != this.subscriberID) {
                    //    view.assert(m.type != 2 && m.subscriber_id == subscriberID);
                    //}
                }); 

                socket.on('closed', function(subscriberID) {
                });

                socket.on('echo', function(message, subscriberID) {
                    console.log('echo:'+message);                            
                    //if (subscriberID != this.subscriberID) {
                    //    view.assert(m.type != 0 && m.subscriber_id == subscriberID &&
                    //                m.message == message);
                    //}
                });

                sockets[m.subscriber_id] = socket;

            } else if (m.type == 1) {
                ;  // reconnect
            } else if (m.type == 2) {                        
                ;  // disconnect
            } else {
                ;
            }
        };

        var processNextMessage = function(i) {
            if (i === undefined) { i = 0; }
            
            var m = view.testMessages[i];
            
            console.log(m);
            processMessage(m);
            
            if (i != view.testMessages.length-1) {
                var delay = new Date(view.testMessages[i+1].sent) - new Date(m.sent);
                console.log(delay);
                setTimeout(function() {
                    processNextMessage(i+1);
                }, delay);                        
            }
        };       

        /* START TEST */
        for (x = 0; x < 10000; x += (10000/10)) {
            setTimeout(processNextMessage, x);
        }
    },
});
var testChatView = new TestChatView();
testChatView.render();
testChatView.runTest();
</script>
{% endblock %}
