{% load url from future %}{% block header %}{% endblock %}
{% block salutation %}<p>Hello{% if to_name %} {{ to_name }}{% endif %},</p>{% endblock %}
{% block body %}<p>{{ message }}</p>{% endblock %}
{% block signature %}<img src="{{ host }}{{ STATIC_URL }}img/text_logo.png" alt="{{ site_name }}" width="169" height="20" style="margin-bottom:10px;"/>{% endblock %}
<p style="font-size:11px;">To stop receiving email from {{ site_name }}, you may <a href="[unsubscribe]">unsubscribe</a>.</p>
