{% extends "main_site/base.html" %}
{% load i18n %}{% load url from future %}

{% block body %}
<div class="container-404">
  <h2>{% trans "How did you get here?" %}</h2>
  <p>{% blocktrans %}The page you were trying to visit does not exist. If you manually entered the address into your browser, try navigating to the page you were looking for from the{% endblocktrans %} <a href="{% url 'home' %}">{{ site_name }} homepage</a>.</p>
</div>
{% endblock %}
