{% extends "main_site/base.html" %}
{% load i18n %}{% load url from future %}

{% block body %}
<div class="container-500">
  <h2>{% trans "Something went wrong!" %}</h2>
  <p>{% blocktrans %}Due to technical difficulties, your page cannot be reached at this time. Please try again later.{% endblocktrans %}</p>
</div>
{% endblock %}
